#bookmarks, #rightbg, #postcards, #header, #menu, #sidebar, #pet_friends, h2{
display: none;
}
#pet_info {
margin: 175px 700px !important;
left: 50% !important;
top: 50% !important;
width: 800px !important;
height: 650px !important;
background: #ECE9D8;
margin: 0;
z-index: 10 !important;
}
#page, body{
font-family: sans-serif;
font-size: 16px !important;
overflow: hidden !important;
margin: 0;
width: auto;
}
#content{
overflow: hidden !important;
margin: 0;
padding: 0;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
background: url('https://i.ibb.co/RBSRFMs/bliss.jpg') no-repeat; width: 100% auto; height:100% auto; background-size:cover;
z-index: -2 !important;
}
.back{
font-size: 16px !important;
  LINE-HEIGHT: 3px;
  text-indent: 3px;
  font-family: sans-serif;
  height: calc(var(--box-height) + 33px);
  width: calc(var(--box-width) + 6px);
  border-radius: 5px 5px 0px 0px;
  background-image: linear-gradient(to bottom, #0855DD 0px, #3D95FF 1px, #0855DD 10px, #0855DD 20px, #3D95FF 28px, #0855DD 29px, #00138C 30px, #0855DD 31px, #0855DD 100%);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  z-index: -1;
}
.exit{
font-size: 16px !important;
  text-indent: 0;
text-align: center;
  height: 20px;
  width: 20px;
  color: #ffffff;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 2px;
  background-image: radial-gradient(farthest-side at 25% 25%, #f1a48a 0%,#e14c24 50%,#ab3819 100%);
  position: absolute;
  left: calc(var(--box-width) - 22px);
  top: 6px;
  line-height: 18px;
  }
  .descbox{
  --box-height: 650px;
  --box-width: 800px;
  --box-top: 50%;
  --box-left: 50%;
}
#descback{
  position: absolute;
  margin: -380px -245px !important;
  top: 50%;
  left: 50%;
}
.imgbox{
  --box-height: 200px;
  --box-width: 200px;
  --box-top: 50%;
  --box-left: 50%;
}
#imgback{
  position: absolute;
  margin: -380px -253px !important;
  top: 50%;
  left: calc(50% - 250px);
}
#pet_image{
  position: absolute;
  margin: -350px -250px !important;
  top: 50%;
  left: calc(50% - 250px);
}
.pet_name{
font-size: 16px !important;
text-align: left !important;
  position: absolute;
  margin: -380px -250px !important;
  top: 50%;
  left: calc(50% - 250px);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}
.statbox{
  --box-height: 400px;
  --box-width: 200px;
  --box-top: 50%;
  --box-left: 50%;
}
#statback{
  position: absolute;
  margin: -132px -253px !important;
  top: 50%;
  left: calc(50% - 250px);
}
#pet_stats{
background: #ECE9D8;
padding: 0;
 height: 400px !important;
width: 200px !important;
  position: absolute;
  margin: -103px -250px !important;
  top: 50%;
  left: calc(50% - 250px);
}
#pet_stats li{
padding: 0;
 height: 40px !important;
width: 200px !important;
}
a:link, a:active, a:visited, .heart{color: #0855DD;}
.statbar div.stat{background-color: #0855DD;}